* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eeeeee;
  font-family: 'Quicksand', sans-serif;
}
.navbar {
  height: 60px;
  background-color: #202b37;
  padding: 0 2rem;
  border-bottom: 2px solid #31b9e4;
  display: flex;
  align-items: center;
}
.title {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}
.form-container {
  margin: 60px auto;
  background-color: #ffffff;
  border-top: 5px solid #3ac7ec;
  border-radius: 3px;
}
#form {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}
#heading {
  text-align: center;
}
input {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}
#type_of_school {
  margin: 1.5rem 0;
}
#type_of_school input {
  cursor: pointer;
}

.forgot {
  margin-left: auto;
  text-decoration: none;
  color: #1f7a54;
  font-size: 14px;
  font-weight: 500;
}
.selector {
  cursor: pointer;
}
#district,
#state {
  border: none;
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1.5rem;
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}
#email,
#password {
  margin-top: 1.5rem;
  border: none;
  font-size: 16px;
  color: #666666;
}
#email {
  border-bottom: 1px solid lightgray;
}
input {
  outline: none;
}
#login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#password-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.fa-eye {
  color: darkgreen;
  cursor: pointer;
  margin-top: 1rem;
}

#submit-btn {
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
  width: 200px;
  height: 2rem;
  background-color: #3fd28b;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.footer {
  width: 100vw;
  color: green;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.fa-lightbulb-o {
  font-size: 48px;
  color: #cfb019;
  transform: rotate(-20deg);
}

/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-container {
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .form-container {
    width: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}
